<div>
      <%= simple_fields_for @user do |f| %>
        <%= f.input :civility, collection: ['Monsieur', 'Madame','Mademoiselle'], label: "Titre" %>
        <%= f.input :first_name, label: 'Prénom' %>
        <%= f.input :last_name, label: 'Nom de famille' %>
        <%= f.input :birthday, label: 'Date de naissance', as: :date, start_year: Date.today.year-60,end_year: Date.today.year-12,order: [:day,:month,:year], default: Date.today-30*365 %>
        <%= f.input :email, label: 'Email' %>

        <%= f.input :route, label: 'Rue' %>
        <%= f.input :locality, label: 'Ville' %>
        <%= f.input :administrative_area_level_1, label: 'Région' %>
        <%= f.input :postal_code, label: 'Code Postal' %>
        <%= f.input :country, label: 'Pays' %>

        <% end %>

</div>
