<% content_for :heading, "Mes appareils" %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="container">
        <div class="row">
          <% @devices_by_type.each do |id, nbr| %>
          <% d = DeviceType.find(id) %>
            <div class="col-xs-5 vignette">
              <h3><%= d.name.capitalize %> : <%= nbr %> X </h3>
              <%= image_tag(d.url, class: "small-image") %>
              <p>Consommation annuelle (estimations)<p>
              <table>
                <tr>
                  <td><div class="in-circle"><p><%= (d.avg_yearly_consumption * nbr / 1000).to_i %></p> kWh</div></td>
                  <td><div class="in-circle"><p><%= (d.avg_yearly_consumption * nbr * 0.0014).to_i %></p> €</div></td>
                  <td>
                    <span class="chart" data-percent=<%= ((d.avg_yearly_consumption * nbr) / @total_conso * 100).to_i %>>
                      <span class="percent"></span>
                    </span>
                  </td>
                </tr>
              </table>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for(:js) do %>
    <script>
      $(function() {
        $('.chart').easyPieChart({
          easing: 'easeOutBounce',
          onStep: function(from, to, percent) {
            $(this.el).find('.percent').text(Math.round(percent));
          }
        });
        var chart = window.chart = $('.chart').data('easyPieChart');
        $('.js_update').on('click', function() {
          chart.update(Math.random()*200-100);
        });
      });
      </script>
  <% end %>

