<div class="container">
  <div class="row title-bar">
    <h2>Mes appareils</h2>
    <div class="btn-sign-out">
      <p><%= current_user.first_name %> <%= current_user.last_name %><br>
      <%= link_to("Se déconnecter", "url") %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <% @devices.each do |d| %>
        <div class="device-border">
          <div class="row">
            <div class="col-xs-8">
              <ul>
                <h3><%= d.name.capitalize %></h3>
                <li>Consommation journalière moyenne <%= d.device_type.avg_daily_consumption %></li>
                <li>Consommation annuelle moyenne <%= d.device_type.avg_yearly_consumption %></li>
                <li>Coût par utilisation :</li>
                <li>Coût estimé par an: </li>
                <li>Pollution estimée par an:</li>
              </ul>
            </div>
            <div class="col-xs-3"><div class="image-device"><%= image_tag(d.device_type.url, class: "img-thumbnail") %></div></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

