<% content_for :heading, "Mes appareils" %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <% @devices_by_type.each do |id, nbr| %>
      <% d = DeviceType.find(id) %>
        <div class="device-border">
          <div class="row">
            <div class="col-xs-8">
              <ul>
                <h3><%= d.name.capitalize %> : <%= nbr %> </h3>
                <li>Consommation annuelle moyenne : <%= (d.avg_yearly_consumption * nbr).to_i %> Watts</li>
                <li>Coût estimé par an: <%= (d.avg_yearly_consumption * nbr * 0.0014).to_i %> €</li>
                <li>Part de votre consommation : <%= ((d.avg_yearly_consumption * nbr) / @total_conso * 100).to_i %> %</li>
              </ul>
            </div>
            <div class="col-xs-3"><div class="image-device"><%= image_tag(d.url, class: "img-thumbnail") %></div></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

