<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>@flat.accommodation_type</h1>
      <%= @flat. %>
      <%= @flat %>
      <%= @flat %>
      <%= @flat %>
      <%= @flat %>
    </div>
  </div>
</div>


<!--  create_table "flats", force: true do |t|
    t.datetime "created_at"
    t.datetime "updated_at"
    t.string   "street_number"
    t.string   "route"
    t.string   "locality"
    t.string   "administrative_area_level_1"
    t.string   "postal_code"
    t.string   "country"
    t.integer  "number_of_occupants"
    t.float    "surface"
    t.float    "latitude"
    t.float    "longitude"
    t.float    "last_yearly_bill"
    t.integer  "user_id"
    t.string   "accommodation_type"
    t.string   "address_complement"
  end -->