<ul class="nav-perso">
  <li role="presentation"><a href="#"><%= image_tag("nav_icons/devices.png", class: "icon") %><br>Mes appareils</a></li>
  <li role="presentation"><a href="#"><%= image_tag("nav_icons/flat.png", class: "icon") %><br>Mon appartement</a></li>
  <li role="presentation"><a href="#"><%= image_tag("nav_icons/bill.png", class: "icon") %><br>Ma consommation</a></li>
  <li role="presentation"><a href="#"><%= image_tag("nav_icons/challenge.png", class: "icon") %><br>Mes défis</a></li>
  <li role="presentation"><a href="#"><%= image_tag("nav_icons/energy_conso.png", class: "icon") %><br>Modélisation thermique</a></li>
  <li role="presentation"><a href="#"><%= image_tag("nav_icons/user.png", class: "icon") %><br>Mon compte</a></li>
</ul>
