<h1>Impulsions reçues</h1>

<div id="chart_div"></div>

<table>
  <thead>
    <tr>
      <th>Heure de la mesure</th>
      <th>Pulse</th>
      <th>Power</th>
      <th>Numéro interne de l'électroscope</th>
    </tr>
  </thead>

  <tbody>
    <% @statements.each do |statement| %>
      <tr>
        <td><%= statement.time_of_measure %></td>
        <td><%= statement.pulse %></td>
        <td><%= statement.power %></td>
        <td><%= statement.box_session.box.internal_ref %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

  // Load the Visualization API and the chart package.
  google.load('visualization', '1', {'packages':['annotatedtimeline']});

  // Set a callback to run when the Google Visualization API is loaded.
  google.setOnLoadCallback(drawChart);

  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  function drawChart() {

    // Create the data table.
    var points_json = <%= raw @points.to_json %>;
    //
    // console.log("********************")

for ( var i = 0; i < points_json.rows.length; i++ ) {
    points_json.rows[i].c[0].v = new Date(points_json.rows[i].c[0].v * 1000 );
}
console.log(points_json);

    var data = new google.visualization.DataTable(points_json);

    var options = {
        width: 1000,
        height: 563,
             displayAnnotations: true
           };

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>

