<h1>Description de l'offre</h1>
<div class="panel panel-default">
  <div class="panel-body">
    Top moumoute !
  </div>
</div>

<%= form_for(@order) do |order_f| %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">1. Faisons connaissance </h3>
  </div>
  <div class="panel-body">

    <%= order_f.fields_for @user do |f| %>

    <div class="field">
      <label class="">Titre</label>
      <% options_for_select=[['Monsieur', 1], ['Madame', 2],  ['Mademoiselle', 3]] %>
      <%= f.select(:civility, options_for_select) %>
    </div>

    <div class="field">
      <label class="">Prénom</label>
      <%= f.text_field :first_name %>
    </div>

    <div class="field">
      <label class="">Nom de famille</label>
      <%= f.text_field :last_name %>
    </div>

    <div class="field">
     <label class="">Date de naissance</label>
     <%= f.date_field :birthday %>
   </div>

   <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <% end %>
</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">2. Affinez vos options</h3>
  </div>
  <div class="panel-body">

    <div class="field">
      <label class="">Choix de l'offre</label>
      <% options_for_select=[['Offre de base', 1]] %>
      <%= order_f.select(:offer_id, options_for_select) %>
    </div>

    <label class="">Où livrer votre electroscope ?</label>
    <div class="field">
      <%= order_f.label :address %><br />
      <%= order_f.text_field :address, id:"order_autocomplete_address", placeholder:"Commencez à saisir votre adresse, google la complètera pour vous" %>
    </div>

    <fieldset class="disabled hidden">
      <div class="field">
        <%= order_f.label :street_number %><br />
        <%= order_f.text_field :street_number %>
      </div>
      <div class="field">
        <%= order_f.label :route %><br />
        <%= order_f.text_field :route %>
      </div>
      <div class="field">
        <%= order_f.label :postal_code %><br />
        <%= order_f.text_field :postal_code %>
      </div>
      <div class="field">
        <%= order_f.label :locality %><br />
        <%= order_f.text_field :locality %>
      </div>
      <div class="field">
        <%= order_f.label :administrative_area_level_1 %><br />
        <%= order_f.text_field :administrative_area_level_1 %>
      </div>
      <div class="field">
        <%= order_f.label :country %><br />
        <%= order_f.text_field :country %>
      </div>
    </fieldset>
    <div class="field">
      <%= order_f.label :address_complement, "Si besoin, entrez tout complément d'adresse utile (cage d'escalier, numéro d'appartement...)" %><br />
      <%= order_f.text_field :address_complement, placeholder: "Escalier A" %>
    </div>

    <div class="field">
      <label class="">Mode de livraison</label>
      <% options_for_select=[['livraison par la Poste', 1], ['retrait Mondial relais', 2],  ['parrainage', 3]] %>
      <%= order_f.select(:delivery_option, options_for_select) %>
    </div>

    <div class="field">
      <label class="">Mon compteur EDF est de type :</label>
      <% options_for_select=[['Electronique', 'Electronique'], ['Mécanique', 'Mécanique']] %>
      <%= order_f.select(:counter_type, options_for_select) %>
    </div>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">3. Validez votre commande</h3>
  </div>
  <div class="panel-body">
    <%= order_f.submit "Valider" %>
  </div>
</div>

<% end %>

<% content_for(:before_js) do%>
<!-- Include Google Maps JS API -->
<script type="text/javascript"
src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyBcspQQixZz4NDtZBMoVusFekhpc1eufAc"></script>
<% end  %>
