<div class="text-center" id="intro">
  <h2>Consommez mieux, économisez, préservez l'environement</h2>
  <h1>Découvrez l'Electroscope</h1>
  <p id="guide">Suivez le guide.</p>
  <a href="#story" class="big-arrow btn btn-primary scrollTo" ><i class="fa fa-chevron-down"></i></a>
</div>
<div id="story">
  <div id="timeline">
     <div class="scrollme cloud-left">
      <div
          class="animateme"
          data-when="enter"
          data-from="0.5"
          data-to="1"
          data-opacity="1"
          data-translatex="-1000"
          data-rotatez="0"
      >
        <div class=""><%= image_tag("cloud1.png") %></div>
      </div>
    </div>
    <div class="timemarker"></div>
    <div class="marker-link-left"></div>
    <div class="spacer-100"></div>
     <div class="scrollme cloud-left">
      <div
          class="animateme"
          data-when="enter"
          data-from="0.5"
          data-to="1"
          data-opacity="1"
          data-translatex="-1000"
          data-rotatez="0"
      >
        <div class=""><%= image_tag("cloud1.png") %></div>
      </div>
    </div>
    <div class="spacer-100"></div>
    <div class="timemarker"></div>
    <div class="marker-link-right"></div>
    <div class="spacer-100"></div>
    <div class="spacer-100"></div>
    <div class="timemarker"></div>
    <div class="scrollme cloud-left">
      <div
          class="animateme"
          data-when="enter"
          data-from="0.5"
          data-to="1"
          data-opacity="1"
          data-translatex="1200"
          data-rotatez="0"
      >
        <div class=""><%= image_tag("cloud2.png") %></div>
      </div>
    </div>

    <div class="marker-link-left"></div>
    <div class="spacer-100"></div>
    <div class="spacer-100"></div>
    <div class="timemarker"></div>
    <div class="marker-link-right"></div>
    <div class="spacer-100"></div>
    <div class="spacer-100"></div>
    <div class="timemarker"></div>
    <div class="marker-link-left"></div>
    <div class="scrollme">
      <div
          class="animateme"
          data-when="enter"
          data-from="0.5"
          data-to="1"
          data-opacity="0"
          data-translatex="800"
          data-rotatez="0"
      >
        <div class=""><%= image_tag("cloud1.png") %></div>
      </div>
    </div>

  </div>
  <div class="info-panel-left">
    <h3>Energies renouvelables</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum atque doloribus quasi officia eum qui omnis consequatur facilis nulla corporis! Commodi autem iste, doloremque. Dolore doloribus nisi earum doloremque quia!</p>
  </div>
  <div class="info-panel-right">
    <h3>Pics de consommation</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum atque doloribus quasi officia eum qui omnis consequatur facilis nulla corporis! Commodi autem iste, doloremque. Dolore doloribus nisi earum doloremque quia!</p>
  </div>
  <div class="info-panel-left">
    <h3>Origines de l'électricité</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum atque doloribus quasi officia eum qui omnis consequatur facilis nulla corporis! Commodi autem iste, doloremque. Dolore doloribus nisi earum doloremque quia!</p>
  </div>
  <div class="info-panel-right">
    <h3>Changements de consommation</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum atque doloribus quasi officia eum qui omnis consequatur facilis nulla corporis! Commodi autem iste, doloremque. Dolore doloribus nisi earum doloremque quia!</p>
  </div>
  <div class="info-panel-left">
    <h3>Energies renouvelables</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum atque doloribus quasi officia eum qui omnis consequatur facilis nulla corporis! Commodi autem iste, doloremque. Dolore doloribus nisi earum doloremque quia!</p>
  </div>
  <div class="info-panel-center">
    <h3>l'Electroscope</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum atque doloribus quasi officia eum qui omnis consequatur facilis nulla corporis! Commodi autem iste, doloremque. Dolore doloribus nisi earum doloremque quia!</p>
    <%= link_to("Commandez votre boitier", "#" , class: "btn btn-success") %>
  </div>
</div>

<%= content_for(:js) do %>
  <script>
    $(document).ready(function() {
      $('.scrollTo').click( function() {
        var page = $(this).attr('href');
        var speed = 1000;
        $('html, body').animate( { scrollTop: $(page).offset().top }, speed ); // Go
      });
    });
  </script>
<% end %>


