<div class="text-center" id="intro">
  <h2>Consommez mieux, économisez, préservez l'environement</h2>
  <h1>Découvrez l'Electroscope</h1>
  <p id="guide">Suivez le guide.</p>
  <a href="#story" class="big-arrow btn btn-primary scrollTo" ><i class="fa fa-chevron-down"></i></a>
</div>
<div id="story">
  <div id="timeline">
    <div class="timemarker"></div>
    <!-- <div class="marker-link-left"></div>
    <div class="timemarker"></div>
    <div class="marker-link-right"></div>
    <div class="timemarker"></div>
    <div class="marker-link-left"></div>
    <div class="timemarker"></div>
    <div class="marker-link-right"></div>
    <div class="timemarker"></div>
    <div class="marker-link-left"></div> -->
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="info-panel">
          <h3>Energies renouvelables</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum atque doloribus quasi officia eum qui omnis consequatur facilis nulla corporis! Commodi autem iste, doloremque. Dolore doloribus nisi earum doloremque quia!</p>
        </div>
        <div class="col-xs-12 col-md-6">
        </div>
      </div>
    </div>
    <div class="scrollme cloud-left">
      <div
          class="animateme"
          data-when="enter"
          data-from="0.5"
          data-to="1"
          data-opacity="1"
          data-translatex="-1500"
          data-rotatez="0"
      >
        <div class=""><%= image_tag("cloud2.png") %></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6"></div>
      <div class="col-xs-12 col-md-6">
        <div class="info-panel">
          <h3>Pollution</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum atque doloribus quasi officia eum qui omnis consequatur facilis nulla corporis! Commodi autem iste, doloremque. Dolore doloribus nisi earum doloremque quia!</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="info-panel">
          <h3>Parc électrique</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum atque doloribus quasi officia eum qui omnis consequatur facilis nulla corporis! Commodi autem iste, doloremque. Dolore doloribus nisi earum doloremque quia!</p>
        </div>
        <div class="col-xs-12 col-md-6"></div>
      </div>
    </div>
    <div class="scrollme cloud-left">
      <div
          class="animateme"
          data-when="enter"
          data-from="1"
          data-to="0"
          data-opacity="1"
          data-translatex="1500"
          data-rotatez="0"
      >
        <div class=""><%= image_tag("cloud1.png") %></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6"></div>
      <div class="col-xs-12 col-md-6">
        <div class="info-panel">
          <h3>Maitrisez sa consommation</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum atque doloribus quasi officia eum qui omnis consequatur facilis nulla corporis! Commodi autem iste, doloremque. Dolore doloribus nisi earum doloremque quia!</p>
        </div>
      </div>
    </div>
    <div class="scrollme cloud-left">
      <div
          class="animateme"
          data-when="enter"
          data-from="1"
          data-to="0"
          data-opacity="1"
          data-translatex="2000"
          data-rotatez="0"
      >
        <div class=""><%= image_tag("cloud1.png") %></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="info-panel">
          <h3>Energies renouvelables</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum atque doloribus quasi officia eum qui omnis consequatur facilis nulla corporis! Commodi autem iste, doloremque. Dolore doloribus nisi earum doloremque quia!</p>
        </div>
        <div class="col-xs-12 col-md-6"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="panel-center">
          <h3>Passez à l'action</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum atque doloribus quasi officia eum qui omnis consequatur facilis nulla corporis! Commodi autem iste, doloremque. Dolore doloribus nisi earum doloremque quia! <br>
            <strong> Officia eum qui omnis consequatur facilis nulla corporis.</strong></p>
          <%= link_to "Commandez maintenant", new_order_path, class: "btn btn-success text-center" %>
        </div>
      </div>
    </div>
</div>

<%= content_for(:js) do %>
  <script>
    $(document).ready(function() {
      $('.scrollTo').click( function() {
        var page = $(this).attr('href');
        var speed = 1000;
        $('html, body').animate( { scrollTop: $(page).offset().top }, speed ); // Go
      });
    });
  </script>
<% end %>


