<% content_for :heading, "Mon profil" %>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <% if @user.box_sessions && @user.box_sessions.last.activated == false %>
            <div class="alert alert-info">
              <h3>Activer mon boitier</h3>
              <p>Avez-vous reçu votre boitier ? Si c'est le cas, il ne vous reste plus qu'à l'activer.</p>
              <%= link_to "Activer mon boîtier", activation_path, class: "btn btn-success" %>
            </div>
          <% end %>
          <h3>Vos coordonnées</h3>
          <ul>
            <li>Civilité : <%= @user.civility %></li>
            <li>Prénom : <%= @user.first_name %></li>
            <li>Nom : <%= @user.last_name %></li>
            <li>Date de naissance : <%= @user.birthday %></li>
            <li>E-mail : <%= @user.email %></li>
          </ul>
          <%= link_to "Mettre à jour le profil", edit_profile_path, class: "btn btn-primary" %>
          <h3>Parrainage</h3>
          <p>En parrainant un ami, vous profitez d'une réduction de 99% sur votre dernière mensualité, le parrainé, quant à lui, bénéficie d'une réduction de 1% sur sa première mensualité. Soit une réduction de 100%.</p>
          <%= link_to "Parrainer un ami", new_sponsorship_path, class: "btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
</div>