<!DOCTYPE html>
<html>
<head>
  <title>Electroscope</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="wrapper">

    <%= render 'shared/navbar' %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div id="content">
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
  </div>

  <%= yield(:before_js) %>
  <%= javascript_include_tag 'application'%>
  <%= yield(:js) %>

</body>
</html>
