<!DOCTYPE html>
<html>
<head>
  <title>Electroscope</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</head>
<body>
  <div id="wrapper">

    <%= render 'shared/navbar' %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div id="content">
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
  </div>


  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield(:js) %>

</body>
</html>
