<!DOCTYPE html>
<html>
<head>
  <title>Electroscope</title>
  <%= stylesheet_link_tag 'dashboard', media: 'all'%>

  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,400' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="dashboard-nav">
    <div id="logo"><a href="/"><%= image_tag("electroscope_logo.png") %></a></div>
    <%= render 'shared/nav_dash' %>
  </div>
  <div class="container">
    <div class="row title-bar">
      <h2><%= yield(:heading) %></h2>
      <% if current_user.box_sessions.count == 0 || !current_user.box_sessions.last.activated %>
        <%= link_to "Activer mon boîtier", activation_path, class: "btn btn-success" %>
      <% end %>
      <%= link_to destroy_user_session_path , method: :delete, class: "btn-sign-out" do %>
        <%= current_user.first_name %> <%= current_user.last_name %><br>
        Se déconnecter
      <% end %>
    </div>
    <div class="spacer-100"></div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-2">

        <%= yield(:before_js) %>

        <div class="notices">
          <%= render "layouts/notices" %>
        </div>

        <%= yield %>
      </div>
    </div>
  </div>

  <%= javascript_include_tag 'application'%>
  <%= yield(:js) %>

</body>
</html>
